@font-face {
  font-family: 'Gms';
  src: url('https://daramabasa.github.io/kioskExample/font/GmarketSansTTFMedium.woff') format('woff');
}

@font-face {
  font-family: 'GmsB';
  src: url('https://daramabasa.github.io/kioskExample/font/GmarketSansTTFBold.woff') format('woff');
}


/* 초기화 */
* { margin: 0; padding: 0; }
a { text-decoration: none; }
ul { list-style: none; }

/* -- */
.container {
  width: 960px; height: 900px;
  margin: 0 auto; padding: 0;

  background-color: #ccc;
}


  header {
    width: 100%; height: 17%;
    position: relative;

    background-color: #EA0D44;
  }

  header > .logo {
    position: absolute; 
    left: 30px; top: 15px;
  }
  header > nav {
    position: absolute;
    right: 30px; top: 50px;
  }
    #reactNav {
      display: none;
    }
      #reactNav > select {
        width: 150px; height: 50px;
        margin-right: 20px;

        text-align: center;
        font-family: 'GmsB';
        font-size: 25px;
        
        background-color: #EA0D44; color: white;
        border: 2px solid white;
        border-radius: 15px;

        -o-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
        #reactNav > select::-ms-expand { 
          display: none;
        }

    header > nav li {
      width: 100px; height: 50px;
      margin: 0; padding: 0;
      float: left;
      display: block; box-sizing: border-box;
      background-color: #EA0D44;
      border: 2px solid white;

      font-family: 'GmsB';
      color: white;
      font-size: 25px;
      line-height: 50px; text-align: center;

      cursor: pointer;
    }
      header > nav li:first-of-type {
        border-right: none;
        border-radius: 15px 0 0 15px;
      }
      header > nav li:nth-of-type(2) {
        border-left: none;
        border-right: none;
      }
      header > nav li:last-of-type {
        border-left: none;
        border-radius: 0 15px 15px 0;
      }

main {
  width: 100%; height: 79%;
  background-color: white;

  clear: both;
}

#tabMenu {
  width: 60%; height: 650px;
  float: left;

  margin: 3%;
}

  #tabMenu > label {
    width: 144px; height: 70px;
    float: left;
    display: block;

    font-family: 'GmsB';
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    color: #EA0D44;

    background-color: white;

    box-sizing: border-box;

    cursor: pointer;
  }

  #tabMenu input:nth-of-type(1) {display: none;}
  #tabMenu input:nth-of-type(1) ~ div:nth-of-type(1) {display: none;}
  #tabMenu input:nth-of-type(1):checked ~ div:nth-of-type(1) {display: block;}
  
  #tabMenu input:nth-of-type(2) {display: none;}
  #tabMenu input:nth-of-type(2) ~ div:nth-of-type(2) {display: none;}
  #tabMenu input:nth-of-type(2):checked ~ div:nth-of-type(2) {display: block;}
  
  #tabMenu input:nth-of-type(3) {display: none;}
  #tabMenu input:nth-of-type(3) ~ div:nth-of-type(3) {display: none;}
  #tabMenu input:nth-of-type(3):checked ~ div:nth-of-type(3) {display: block;}

  #tabMenu input:nth-of-type(1):checked ~ label:nth-of-type(1) {
    background-color: #EA0D44;
    color: white;
  }
  #tabMenu input:nth-of-type(2):checked ~ label:nth-of-type(2) {
    background-color: #EA0D44;
    color: white;
  }
  #tabMenu input:nth-of-type(3):checked ~ label:nth-of-type(3) {
    background-color: #EA0D44;
    color: white;
  }

    #tabMenu .tabItems {
      clear: left;
      width: 100%; height: 580px;

      padding: 20px 25px;
      box-sizing: border-box;

      border: 5px solid #EA0D44;

      text-align: center;
    }
      .tabItems:first-of-type { border-radius: 0 15px 15px 15px; }
      .tabItems:nth-of-type(2), .tabItems:nth-of-type(3) { border-radius: 15px; }

      .tabItems .items {
        width: 150px; height: 120px;
        margin: 30px 10px;
        float: left;

        text-align: center;
        font-family: 'Gms';
        font-size: 15px;
        color: #323232;

        cursor: pointer;
      }

      .tabItems img {
        width: 90%;
      }

aside {
  width: 30%; height: 550px;

  float: right;
  margin: 15% 3% 0 0;

  position: relative;

  background-color: white;

  font-family: 'GmsB';
  font-size: 14px;
  color: #323232;
}
  aside .shopcart {
    width: 100%; height: 430px;
    padding-top: 10px;

    background-color: #eee;

    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
    .shopcart::-webkit-scrollbar { display: none; }
    
      .menuList {
        width: 100%; height: 25px;
        margin: 7px 0;
        line-height: 25px;

        position: relative;
      } 
      .menuList .menu { position: absolute; left: 5px;}
      .menuList .amount { position: absolute; right: 110px;}
      .menuList .price { position: absolute; right: 35px;}
      .menuList button { width: 25px; position: absolute; right: 5px; }  

  aside .resultInfo{
    width: 100%; height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 50px;
  }
    .resultInfo h1:first-of-type { position: absolute; left: 100px; }
    .resultInfo h1:last-of-type { position: absolute; right: 0; }

  aside > button {
    width: 100%; height: 50px;

    position: absolute;
    bottom: 0px;

    font-family: 'GmsB';
    font-size: 35px;
    line-height: 50px;
  }

footer {
  clear: both;
  width: 100%; height: 4%;

  text-align: center;
  background-color: white;
}
  footer > h4 {
    line-height: 36px;
    font-family: 'Gms';
    color: #323232;
  } 



@media (max-width: 768px) {
  .container { width: 768px; height: auto; padding: 0;}
  header { height: 153px; }
    header nav { display: none; }
    #reactNav { display: block; }

  main { width: 100%; height: auto; padding-top: 3%;}
    #tabMenu {
      float: none; width: 75%;
      margin: 0 auto; }
    aside {
      float: none;
      width: 90%; height: 35%;
      margin: 0 auto;
      padding: 15px 0 ; 
    }
      aside .shopcart {
        width: 100%; height: 200px;
      }
        .menuList > .menu {
          left: 30px;
        }
        .menuList > .amount {
          right: 200px;
        }
        .menuList > .price {
          right: 70px;
        }
        .menuList button { right: 30px; }  

      aside .resultInfo {
        position: static;
        width: 100%; height: 50px;
        padding: 0; margin: 0;
      }
      aside > button {
        width: 100%; height: 50px;
        position: static;
        margin: 0; padding: 0; 
        display: block;
      }
}


@media (max-width: 481px) {
  .container { width: 481px; height: auto; padding: 0;}
  header { height: 153px; }
    header nav { display: none; }
    #reactNav { display: block; }

  main { width: 100%; height: auto; padding-top: 3%;}
    #tabMenu {
      float: none;
      width: 75%; height: 100%;
      margin: 0 auto;
    }

      #tabMenu > label {
        width: 100px; height: 50px;
        font-size: 30px; line-height: 50px;
      }

      #tabMenu .tabItems{
        height: 500px;
        padding: 30px 5px;
      }
        .tabItems .items {
          width: 100px; height: 80px;
          font-size: 10px;
          margin: 30px 5px;
        }
    aside {
      float: none;
      width: 90%; height: 35%;
      margin: 0 auto;
      padding: 15px 0 ; 
    }
      aside .shopcart {
        width: 100%; height: 150px;
      }
        .menuList > .menu {
          left: 30px;
        }
        .menuList > .amount {
          right: 200px;
        }
        .menuList > .price {
          right: 70px;
        }
        .menuList button { right: 30px; }  

      aside .resultInfo {
        position: static;
        width: 100%; height: 50px;
        padding: 0; margin: 0;
      }
      aside > button {
        width: 100%; height: 50px;
        position: static;
        margin: 0; padding: 0; 
        display: block;
      }

}
